<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../uncompresed/css/edit.css">
</head>
<body>
    <div class="nav top-bar">
        <div class="top-bar__section nav__item--left">
            <div class="logo"></div>
        </div>
        <div class="top-bar__section nav__item--right">
            <div class="user">
                <div class="user__logo">
                    <img src="" alt="">
                </div>
                <div class="user__name">
                    喵了个咪
                </div>
                <div class="user__action">
                    <div class="btn">
                        <a href="">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main" class="box">
        <div class="box__left menu">
            <div class="panel">
                <div class="panel__head">
                    消息列表
                </div>
                <div class="panel__body">
                    <!--ul.list>li*10>.nav>.nav__item&#45;&#45;left>.center-set>.center-set__item{美食内容1}^^+.nav__item&#45;&#45;right>.center-set>.center-set__item{已删除}-->
                    <ul class="list-vertical messages">
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">美食内容1</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">已删除</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box__right content">
            <div class="panel">
                <div class="panel__head">
                    标题栏
                </div>
                <div class="panel__body" style="position: relative;">
                    <div class="editor">
                        <div class="editor__action">
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">left</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">right</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="editor__preview">
                            preview
                        </div>
                        <div class="editor__footer">
                            <div class="nav">
                                <div class="nav__item--left">
                                    <div class="center-set">
                                        <div class="center-set__item">点击商家名称</div>
                                    </div>
                                </div>
                                <div class="nav__item--right">
                                    <div class="center-set">
                                        <div class="center-set__item">
                                            <div class="btn">预览</div>
                                        </div>
                                        <div class="center-set__item">
                                            <div class="btn">提交</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /nav -->
                        </div>
                    </div>
                    <!-- /editor -->
                </div>
            </div>
            <!-- /panel -->
            <div class="popover popover-debug top shoppers">
                <div class="arrow"></div>
                <h3 class="popover-title">Popover 右侧</h3>
                <div class="popover-content">
                    <div class="autocomplete"></div>
                    <div class="list-ver    tical">
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">商家</div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">商家</div>
                            </div>
                        </li>
                        <li>
                            <div class="nav">
                                <div class="nav__item--left">商家</div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>